
body {
  margin: 0;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(to right, #002fff4d, #00236e5b);
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 0px;
}
h1 {
  color: #ffffff; 
  margin-bottom: 20px;
}
main p {
  font-size: 1em;
  line-height: 1.6;
}

.первая_гифка {
  margin-top: 10px;
}
.copybara {
    font-family: sans-serif;
    font-size: large;
}

.заголовок_теста {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 7px;
}

.заголовок {
  margin: 10px;
  text-align: left;
  font-size: 25px;
  position: absolute;
  top: 7px;
  left: 70px;
}

.меню {
  width: 45px;
  position: absolute;
  top: 14px;
  left: 16px;
}

.пусто {
  margin: 10px;
}

.btn-new {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
}

.btn-new:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

.меню_название {
  position: absolute;
  top: 55px;
  left: 16px;
}